@media screen and (min-width: 1000px) {
    #menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
    }

    .nav {
        display: flex;
        flex-direction: row;
        color: white;
        margin-left: 20px;
    }

    .nav a {
        display: block;
        text-decoration: none;
        color: white;
        width: 70px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #weather-info {
        display: flex;
        align-items: center;
        background-color: #005582;
        color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    #weather-icon {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }
    
    .weather-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #current-temp {
        font-size: 2rem;
        font-weight: bold;
    }
    
    #description {
        font-size: 1.2rem;
        margin-top: 5px;
    }
    
    #forecast {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
}